{% for map in urt_maps %}
{{ map }}
{
  g_motd urt_maps[map].g_motd
  sv_joinmessage urt_maps[map].sv_joinmessage
  g_gametype {{urt_game_typ e[urt_default_game_type]}}

  // 0=teams don't get a point when time is up before everyone is dead.
  // 1=team with most players left 
  g_survivorrule 1
 
  // On timelimit hit in a draw situation, wait for one to cap 1 flag / add an extra round
  g_suddendeath 1

  timelimit 0  
}

{% endfor %}